* {
	scroll-behavior: smooth;
}

.navbar-custom {
	position: fixed;
	z-index: 9;
	width: 100%;
}

.carousel-custom {
	margin: 20px 0;
}

.navButtons {
	justify-content: flex-end;
}

.nav-link {
	display: block;
}

.nav-item {
	padding: 20px;
}

.rocketShip {
	width: 30%;
	transform: rotate(-30deg);
}

.section1 {
	background: black;
	height: 880px;
	display: flex;
	align-items: center;
}

.convertButton {
	color: grey;
}

.convertButton:hover {
	color: white;
}

  
label {
	font-size: 15px;
	margin-left: 120px;
	font-weight: bold;
}

label:first-of-type {
	margin-left: 60px;
}

input {
	height: 25px;
	padding: 20px;
	border: 1px solid black;

}

select {
	width: 100px;
	margin-left: 45px;
	padding: 10px;

}

select:first-of-type {
	margin-left: 30px;}


button {
	display: block;
	width: 100px;
	margin-top: 30px;
	margin-left: 400px;
	padding: 10px;
	border: 0;
}


.result {
	font-weight: bold;
	font-size: 22px;
  	margin-left: 45%;
  	margin-top: 15%
}

.updatedTime {
	font-size: 13px;
	text-align: right;
	margin-right: 2.5%;
	margin-top: 10%;
	font-style: italic;
	font-weight: lighter;
}


#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: black;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}
  
#myBtn:hover {
	background-color: #555;
}


h1 {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align:center;
	font-weight: bolder;
}

  
#currentTime {
	text-align:center;
	font-size: 20px;
}
  
  
#USDPrice {
   text-align:center; 
   font-size: 24px;
}
  
.btcwdgt-chart {
	  margin: auto;
}

.footerLogo {
	color: white;
	font-size: 2.5em;
	padding: 10px 20px;
}

@media screen and (max-width:400px) {

	label {
		margin: 0 0 20px 0;
		padding: 0 20px;
	}

	button {
		margin: 0;
	}

	.converterButton {
		width: 100%;
	}

	label:first-of-type {
		margin: 0;
	}

	select {
		margin: 20px 0;
		width: 100%;
	}

	select:first-of-type {
		margin: 0;
	}

	input {
		width: 100%;
		margin-bottom: 20px;
	}

	.result {
		margin: 20px 0 0 0;
	}

	.updatedTime {
		margin: 0 0 20px 0;
		text-align: center;
	}

	.section1 {
		height: 755px;
		padding-top: 150px;
	}
}