* {
	scroll-behavior: smooth;
}

.navbar-custom {
	position: fixed;
	z-index: 9;
	width: 100%;
}

.carousel-custom {
	margin: 20px 0;
}

.navButtons {
	justify-content: flex-end;
}

.nav-link {
	display: block;
}

.nav-item {
	padding: 20px;
}

.rocketShip {
	width: 30%;
	transform: rotate(-30deg);
}

.section1 {
	background: black;
	height: 880px;
	display: flex;
	align-items: center;
}

.convertButton {
	color: grey;
}

.convertButton:hover {
	color: white;
}

h1 {
	text-align: center;
	text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
	font-size: 50px;
	background: #3b5998;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	padding-top: 18px;
	padding-bottom: 15px;
  }
  
label {
	font-size: 15px;
	margin-left: 120px;
	font-weight: bold;
}

label:first-of-type {
	margin-left: 60px;
}

input {
	height: 25px;
}

select {
	width: 100px;
	margin-left: 45px;
}

select:first-of-type {
	margin-left: 30px;}


button {
	display: block;
	width: 100px;
	margin-top: 30px;
	margin-left: 360px;
}

.result {
	font-weight: bold;
	font-size: 22px;
  	margin-left: 45%;
  	margin-top: 15%
}

.updatedTime {
	font-size: 13px;
	text-align: right;
	margin-right: 2.5%;
	margin-top: 10%;
	font-style: italic;
	font-weight: lighter;
}

@media screen and (max-width:400px) {

	label {
		margin: 0;
		padding: 0 20px;
	}

	button {
		margin: 0;
	}

	label:first-of-type {
		margin: 0;
	}

	select {
		margin: 20px 0;
		width: 100%;
	}

	select:first-of-type {
		margin: 0;
	}

	input {
		width: 100%;
		margin-bottom: 20px;
	}

}