.navButtons {
	justify-content: flex-end;
}

.nav-item {
	padding: 20px;
}

.rocketShip {
	width: 50%;
	transform: rotate(-30deg);
}

.section1 {
	background: black;
	height: 700px;
	margin-bottom: 10px;
}