

.navButtons {
	justify-content: flex-end;
}

.nav-link {
	display: block;
}

.nav-item {
	padding: 20px;
}

.rocketShip {
	width: 50%;
	transform: rotate(-30deg);
}

.section1 {
	background: black;
	height: 840px;
	margin-bottom: 20px;
}

.convertButton {
	color: grey;
}

.convertButton:hover {
	color: white !important;
}

/* @media screen and (max-width:600px) {
	.convertHeader {
		text-align: center;
	}

	.convertTag {
		text-align: center;
	}
} */